<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="accueil">
          <i  class="fa fa-home" style="margin-right: 10px;"> </i>
          <span class="menu-title"> Tableau de bord</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="Rendez-vous">
          <i class="fa fa-calendar-check" style="margin-right: 10px;"> </i>
          <span class="menu-title"> Rendez-Vous</span>
        </a>
        
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="patients">
          <i class="fa fa-hospital-user" style="margin-right: 10px;"> </i>
          <span class="menu-title"> Patients</span>
        </a>
        
       
      </li>
      
   
    </ul>
  </nav>