.container {
    position: relative;
    // Ajoutez d'autres styles à votre conteneur si nécessaire
  
    
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      // Ajoutez d'autres styles à votre image si nécessaire
    }
    /* styles.scss */


}